html, body {
	font-family: 'Helvetica', Arial, sans-serif; 
    height: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f0f0f0;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center items horizontally */
    justify-content: center; /* Center items vertically */
    background-color: #f0f0f0;
    min-height: 100vh; /* Full viewport height */
}

h1 {
    margin-top: 20px; /* Adjust as needed */
}

.bingo-board {
    display: grid;
    grid-template-columns: repeat(5, 150px);
    grid-template-rows: repeat(5, 150px);
    gap: 5px;
    margin-top: 20px; /* Space between the header and the board */
}

.bingo-cell {
    display: flex;
    align-items: center; /* Centers content vertically */
    justify-content: center; /* Centers content horizontally */
    position: relative;
    border: 1px solid #000;
    background-color: #fff;
    flex-direction: column; /* Stacks content vertically */
    text-align: center; /* Centers text horizontally for multi-line text */
    padding: 10px; /* Adds padding inside the cell */
}

.cross {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.cross.show {
    display: flex;
}

.cross::before, .cross::after {
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    background-color: black;
}

.cross::before {
    transform: rotate(45deg);
}

.cross::after {
    transform: rotate(-45deg);
}

.free-space {
    background-color: #90ee90;
}
