html, body {
    font-family: 'Helvetica', Arial, sans-serif; 
    height: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f0f0f0;
}

body {
    margin: 0;
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: center; /* Horizontally center content */
    justify-content: flex-start; /* Align content to the top */
    min-height: 100vh; /* Ensures full viewport height */
    align-items: center;
    background-color: #f0f0f0;
    min-height: 100vh; 
}

.bingo-board {
    display: grid;
    grid-template-columns: repeat(5, 150px);
    grid-template-rows: repeat(5, 150px);
    gap: 5px;
    margin-top: 5px;
}

.bingo-cell {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border: 1px solid #000;
    background-color: #fff;
    flex-direction: column;
    text-align: center;
    padding: 5px;
    font-size: 19px;
}

.cross {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.cross.show {
    display: flex;
}

.cross::before, .cross::after {
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    background-color: black;
}

.cross::before {
    transform: rotate(45deg);
}

.cross::after {
    transform: rotate(-45deg);
}

.free-space {
    background-color: #90ee90;
}

.special-text {
    font-weight: bold;
}

#randomizeButton {
        top: 330px;
        right: 10px;
        background-color: yellow;
        position: absolute;
        border-style: solid;
        padding: 10px;
        font-size: 24px;
        border: 2px solid black !important;
    }
    
#dailySeedButton {
        top: 420px;
        right: 10px;
        background-color: #98ff98;
        position: absolute;
        border-style: solid;
        padding: 10px;
        font-size: 24px;
        border: 2px solid black !important;
    }

@media screen and (max-width: 1200px) {
    .bingo-board {
        grid-template-columns: repeat(5, 75px);
        grid-template-rows: repeat(5, 75px);
        gap: 2px;
    }

    #randomizeButton, #dailySeedButton {
        position: relative;
        right: 0;
        top: 0;
        margin: 10px;
    }

    h1 {
        font-size: 24px; /* Smaller font size for mobile */
        text-align: center;
        margin-bottom: 10px;
    }
    h2 {
        font-size: 14px; /* Smaller font size for mobile */
        text-align: center;
        margin-bottom: 10px;
    }
    .cross::before, .cross::after {
        height: 1px;
    }

    .bingo-cell {
        font-size: 9px; /* Larger font for easier reading on mobile */
    }

    #randomizeButton, #dailySeedButton {
        position: static; /* Resets the position */
        margin: 10px auto; /* Centers the buttons and adds margin */
        display: block; /* Each button takes the full width */
        font-size: 14px;
    }

    .buttons-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
}
